button {
  background-color: #141414;
  color: #fff;
  margin: 2rem 0;
  cursor: pointer;
  min-width: 210px;

  border: none;
  transition: background 0.2s ease, color 0.3s ease;
}

button.small {
  padding: 0.5rem 1rem;
  font-size: 14px;
}

button.medium {
  padding: 1rem 3rem;
  font-size: 16px;
}

button.large {
  padding: 2rem 4rem;
  font-size: 18px;
}

button.xlarge {
  padding: 3rem 6rem;
  font-size: 20px;
}

button.inverted {
  background-color: #fff;
  color: #141414;
  border: 1px solid #141414;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

button.turo {
  background-color: #59d388;
  color: #fff;
  font-family: "Nitti Grotesk", "Roboto", sans-serif;
}

button.bad {
  background-color: red;
  color: darkred;
}

button.turo.inverted {
  border: 1px solid #59d388;
  background-color: #fff;
  color: #59d388;
  font-family: "Nitti Grotesk", "Roboto", sans-serif;
}
